<div class="row">
  <div class="col-sm-12">
      <app-card [title]="'Registro Mantenimiento Estibadores'" [headerContent]="''" [cardOptionBlock]="true">


          <h5>Información Mantenimiento Estibadores </h5>
          <br>
          <h6 >Luego de crear el estibador, puedes crear el sistema</h6>
           <br>
          <app-card  [headerContent]="''" [cardOptionBlock]="true">

              <div class="form-group row">
                  <div class="col-sm-8 col-xs-12" >
                      <h6>Descripción <span style="color:red;">*</span></h6>
                      <input type="text" class="form-control" [(ngModel)]="routineDescription" #ctrl="ngModel" id="workTitle" required>
                  </div>
               
                  <!-- <div class="col-sm-1 editicon" *ngIf="showButtonUpdated == true">
                          <button (click)="updateheader(title2.value)" class="btn btn-primary btn-icon"><i class="icofont icofont-pencil-alt-5"></i></button>
                      </div> -->

                  <div class="col-sm-4 col-xs-12" >
                      <h6>Horas</h6>
                      <input type="number" class="form-control" [(ngModel)]="routineHour" #ctrl="ngModel" id="workHours" >
                  </div>
               
              </div>

              <div class="form-group row">
                  <div class="col-sm-12" >
                      <h6>Observacion </h6>
                      <textarea type="text" class="form-control" [(ngModel)]="routineObservation" #ctrl="ngModel" id="workObservation" ></textarea>
                  </div>
           
              </div>

              <div class="form-group row">
                <div class="col-sm-4">
                    <input type="checkbox"  value="supplicePart"  name="supplicePart"  (change)="selectStatuSupplicePart($event)"/>&nbsp;Insumos y Partes
                </div>
                <div class="col-sm-4">
                    <input type="checkbox"  value="deliveryReview"  name="deliveryReview"  (change)="selectStatusDeliveryReview($event)"/>&nbsp;Revisión de entrega
                </div>
                <div class="col-sm-4">
                    <input type="checkbox"  value="pending"  name="pending"  (change)="selectStatusPending($event)"/>&nbsp;Pendiente
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-4">
                    <input type="checkbox"  value="survey"  name="survey"  (change)="selectStatuSurvey($event)"/>&nbsp;Encuesta
                </div>
                <div class="col-sm-4">
                    <input type="checkbox"  value="firm"  name="firm"  (change)="selectStatusFirm($event)"/>&nbsp;Firma
                </div>
              
              </div>
              <!-- <button class="btn btn-primary m-b-0" (click)="modalDetail.show()">Crear detalle</button>  -->
              <div class=" align-buttons">
                
                      <button type="button" class="btn btn-primary m-b-0 waves-effect" id="storeheaderbutton" (click)="registerheader()" >Agregar encabezado</button>
                      <!-- <button (click)="registerheader()" id="registerHeader" type="submit" class="btn btn-primary m-b-0" *ngIf="showButtonUpdated == false">Agregar encabezado</button> -->
    </div>
<br>
<br>
    <div class="align-buttons">
        <button class="btn btn-primary m-b-0 " (click)="goAdminRoutines()">Volver Administración Mantenimiento Estibadores</button>
    </div>
  </app-card>

