<app-modal-basic #modalRegisterSubModule [dialogClass]="'modal-lg'">
  <div class="app-modal-header">

    <h4 class="modal-title">Registrar SubModulo</h4>
  </div>
  <div class="app-modal-body">
    <form [formGroup]="myFormSubModules" (ngSubmit)="sendSubModule()">
      <div class="  row ">
        <div class="col-sm-5">
          <h6>Nombre <span style="color:red; ">*</span></h6>
          <input type="text " class="form-control" formControlName="descriptionSub" [(ngModel)]="descriptionSubModule"
            required>

        </div>
        <div class="col-sm-2"></div>

        <div class="col-sm-5">
          <h6 class="route">Selecciona la ruta para este submodulo<span style="color: red;">*</span></h6>
          <select class="form-control" name="select" [(ngModel)]="selectedRoute" formControlName="routes">
            <option value="0" selected>Seleccionar la ruta</option>
            <option *ngFor="let reg of route" [ngValue]="reg"> {{reg.description}} </option>
          </select>
        </div>
        <br>

      </div>
      <br>
      <div class="align-buttons">
        <button type="button" class="btn btn-default waves-effect" id="updateBrandHide"
          (click)="modalRegisterSubModule.hide()">Cancelar</button>
        <button type="submit " class="btn btn-primary m-b-0 ">Crear SubModulo</button>

      </div>
    </form>
  </div>
</app-modal-basic>


<app-modal-basic #modalUpdateSubModule [dialogClass]="'modal-lg'">
  <div class="app-modal-header">
    <h4 class="modal-title">Actualizar SubModulo</h4>
  </div>
  <div class="app-modal-body">
    <form [formGroup]="myFormUpdateSubModules" (ngSubmit)="sendUpdateSubModule()">
      <div class=" form-group row ">
        <div class="col-sm-5">
          <h6>Descripción <span style="color:red; ">*</span></h6>
          <input type="text " class="form-control" value={{description}} formControlName="descriptionUpdateSub"
            [ngClass]="{ 'is-invalid': submittedUpdated && checkFormUpdateSubModules.descriptionUpdateSub.errors } ">
          <div *ngIf="submittedUpdated && checkFormUpdateSubModules.descriptionUpdateSub.errors "
            class="invalid-feedback ">
            <div class="messages text-danger " *ngIf="checkFormUpdateSubModules.descriptionUpdateSub.errors.required ">
              Este campo es requerido</div>
          </div>
        </div>

        <div class="col-sm-2"></div>

        <div class="col-sm-5">
          <h6 class="route">Selecciona la ruta para este submodulo<span style="color: red;">*</span></h6>
          <select class="form-control" name="select" [(ngModel)]="selectedRouteUpdate" formControlName="routesUpdate">
            <option value="0" selected>Seleccionar la ruta</option>
            <option *ngFor="let reg of route" [ngValue]="reg"> {{reg.description}} </option>
          </select>
        </div>
      </div>

      <div class="align-buttons">
        <button type="button" class="btn btn-default waves-effect" id="updateSubmoduleHide"
          (click)="modalUpdateSubModule.hide()">Cancelar</button>
        <button type="submit " class="btn btn-primary m-b-0 ">Actualizar</button>

      </div>
    </form>
  </div>
</app-modal-basic>



<div class="row">
  <div class="col-sm-12">

    <app-card [title]="'Registro Modulos'" [headerContent]="''" [cardOptionBlock]="true">


      <h5>Información Modulos </h5>
      <br>
      <br>

      <form [formGroup]="myFormUpdate" (ngSubmit)="updatedCustomer()">

        <div class=" form-group row ">
          <div class="col-sm-4 ">
            <h6>Descripción <span style="color:red; ">*</span></h6>
            <input type="text " class="form-control" value={{description}} formControlName="descriptionUpdate" disabled>

          </div>
        </div>

        <!-- <div class="form-group row ">
          <div class="col-sm-4 ">
            <h6>Activo</h6>
            <ui-switch class="js-single" color="#4680ff" switchColor="#fff" size="medium"
              (change)="onChangeCreatedOfficeUpdate($event)" [checked]="enabledCreatedOfficeUpdate"></ui-switch><br>
          </div>
        </div> -->
        <!-- <div class="align-buttons">
          <button type="submit " class="btn btn-primary m-b-0 ">Actualizar Modulo</button>
        </div> -->

      </form>

    </app-card>
  </div>
</div>

<div class="row ">
  <div class="col-sm-12 ">
    <app-card>


      <!--   <button type="button" id="registerBrand" class="btn btn-primary waves-effect" (click)="modalRegisterOffice.show()">Crear sede</button> -->
      <h5>Registrar Sub Modulo </h5>
      <br>
      <div class="align-buttons">
        <button type="button" style="display:none;" id="uploadSubModule" class="btn btn-primary waves-effect"
          (click)="modalUpdateSubModule.show()">Actualizar SubModulo</button>
        <button type="button" id="registerBrand" class="btn btn-primary waves-effect"
          (click)="modalRegisterSubModule.show()">Agregar SubModulo</button>
      </div>
      <br>

      <ngx-datatable #table class="data-table" [rows]="dataSubModule"
        [columns]="[{name:'Descripción', prop:'description'},{name:'Estado', prop:'status'},{prop:'id'}]"
        [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="25">

        <!--   <ngx-datatable-column [resizeable]="false" name="Compañia" [sortable]="false" [draggable]="false" prop="business_name"></ngx-datatable-column> -->
        <ngx-datatable-column [resizeable]="false" name="Nombre SubModulo" [sortable]="false" [draggable]="false"
          prop="description"></ngx-datatable-column>
        <ngx-datatable-column [resizeable]="false" name="Ruta" [sortable]="false" [draggable]="false"
          prop="route_description"></ngx-datatable-column>
        <ngx-datatable-column [resizeable]="false" name="Acciones" [sortable]="false" [draggable]="false"
          sortable="false" prop="id">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>

            <button (click)="updateBrand(row)" class="btn btn-primary btn-icon"><i
                class="icofont icofont-pencil-alt-5"></i></button>
            <button (click)="deleteSubModulo(row)" class="btn btn-danger btn-icon"><i
                class="icofont icofont-ui-delete"></i></button>
          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>
      <br>
      <br>

    </app-card>
  </div>
  <div class="align-buttons">
    <button type="button" class="btn btn-default waves-effect" (click)="goBack()">Volver a Modulos</button>

  </div>
</div>
