<app-modal-basic #modalRegisterCountry [dialogClass]="'modal-lg'">
    <div class="app-modal-header">

        <h4 class="modal-title">Registrar condición DHL</h4>
    </div>
    <div class="app-modal-body">
        <form [formGroup]="myForm" (ngSubmit)="sendPriceCountries()">
            <div class="form-group row">
                <div class="col-sm-6">
                    <h6>Peso </h6>
                    <input type="text" class="form-control" formControlName="weight" [ngClass]="{ 'is-invalid': submitted && checkForm.weight.errors }">
                    <div *ngIf="submitted && checkForm.weight.errors" class="invalid-feedback">
                        <div class="messages text-danger" *ngIf="checkForm.weight.errors.required">Este campo es requerido</div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h6>Precio </h6>
                    <input type="text" class="form-control" formControlName="price" [ngClass]="{ 'is-invalid': submitted && checkForm.price.errors }">
                    <div *ngIf="submitted && checkForm.price.errors" class="invalid-feedback">
                        <div class="messages text-danger" *ngIf="checkForm.price.errors.required">Este campo es requerido</div>
                    </div>
                </div>
            </div>
            <div class="align-buttons">
                <button type="button" class="btn btn-default waves-effect" id="createCountryHide" (click)="modalRegisterCountry.hide()">Cancelar</button>
                <button type="submit " class="btn btn-primary m-b-0 ">Crear condición</button>

            </div>
        </form>
    </div>
</app-modal-basic>

<app-modal-basic #modalUpdateCountry [dialogClass]="'modal-lg'">
    <div class="app-modal-header">
        <h4 class="modal-title">Actualizar condición DHL</h4>
    </div>
    <div *ngIf="currentCountry" class="app-modal-body">
        <form [formGroup]="myFormUpdate" (ngSubmit)="sendUpdatePriceCountries()">
            <div class="form-group row">
                <div class="col-sm-6">
                    <h6>Peso </h6>
                    <input type="text" class="form-control" formControlName="weightUpdate" value={{currentCountry.weight}} [ngClass]="{ 'is-invalid': submittedUpdate && checkFormUpdate.weightUpdate.errors }">
                    <div *ngIf="submittedUpdate && checkFormUpdate.weightUpdate.errors" class="invalid-feedback">
                        <div class="messages text-danger" *ngIf="checkFormUpdate.weightUpdate.errors.required">Este campo es requerido</div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h6>Precio </h6>
                    <input type="text" class="form-control" formControlName="priceUpdate" value={{currentCountry.price}} [ngClass]="{ 'is-invalid': submittedUpdate && checkFormUpdate.priceUpdate.errors }">
                    <div *ngIf="submittedUpdate && checkFormUpdate.priceUpdate.errors" class="invalid-feedback">
                        <div class="messages text-danger" *ngIf="checkFormUpdate.priceUpdate.errors.required">Este campo es requerido</div>
                    </div>
                </div>

            </div>
            <div class="align-buttons">
                <button type="button" class="btn btn-default waves-effect" id="updateCountryHide" (click)="modalUpdateCountry.hide()">Cancelar</button>
                <button type="submit " class="btn btn-primary m-b-0 ">Actualizar condición</button>
            </div>
        </form>
    </div>
</app-modal-basic>



<div class="row">

    <div class="col-sm-12">
        <app-card>
            <h5>Registrar condición DHL </h5>
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <h6>País<span style="color:red;">*</span></h6>
                    <select class="form-control" (change)="ChangingValue()" name="select" [(ngModel)]="selectedEstimateCountryId">
                              <option value="0" selected>Seleccionar país</option>
                              <option  *ngFor="let estimateCountry of estimateCountries" [ngValue]="estimateCountry"> {{estimateCountry.name}} </option>
                            </select>
                    <!--  <input type="text" class="form-control" placeholder="Filtrar" (keyup)="updateFilter($event)"> -->
                    <!--  <input type="text" style="padding:8px;margin:15px auto;width:30%;" placeholder="Type to filter the name column..." (keyup)="updateFilter($event)" /> -->
                </div>
                <div class="col-sm-3">
                    <!--     <div class="checkbox-color checkbox-primary">
                      <input id="checkbox18" type="checkbox" (change)="onChangeActive($event)">
                      <label for="checkbox18">
                             Activo
                            </label>
                  </div>
                  <div class="checkbox-color checkbox-danger">
                      <input id="checkbox16" type="checkbox" (change)="onChangeInactive($event)">
                      <label for="checkbox16">
                                  Inactivo
                                </label>
                  </div>-->
                </div>
                <div class="col-sm-3">
                    <div class="align-buttons">
                        <button type="button" style="display:none;" id="uploadCountry" class="btn btn-primary waves-effect" (click)="modalUpdateCountry.show()">Crear país</button>
                        <button type="button" id="registerCountry" class="btn btn-primary waves-effect" (click)="modalRegisterCountry.show()">Crear país</button>
                    </div>
                </div>
            </div>
            <br>

            <ngx-datatable #table class="data-table" [rows]="rowsClient" [columns]="[{name:'Peso (kilos)', prop:'weight'},{name:'Precio x Kilo (usd)', prop:'price'},{prop:'id'}]" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
                [limit]="25">

                <ngx-datatable-column [resizeable]="false" name="Peso (kilos)" [sortable]="false" [draggable]="false" prop="weight"></ngx-datatable-column>
                <ngx-datatable-column [resizeable]="false" name="Precio x Kilo (usd)" [sortable]="false" [draggable]="false" prop="price"></ngx-datatable-column>
                <ngx-datatable-column [resizeable]="false" name="Acciones" [sortable]="false" [draggable]="false" sortable="false" prop="id">



                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>

                        <!--<button md-icon-button (click)="blockAgents(value)">
                            <i class="fa fa-ban"></i>
                          </button> -->

                        <button (click)="updatePriceCountry(row)" class="btn btn-primary btn-icon"><i class="icofont icofont-pencil-alt-5"></i></button>
                        <button (click)="deletePriceCountry(row)" class="btn btn-danger btn-icon"><i class="icofont icofont-ui-delete"></i></button>
                    </ng-template>
                </ngx-datatable-column>


            </ngx-datatable>
        </app-card>
    </div>
</div>