
.align-buttons {
    text-align: right;
    padding-bottom: 50px;
}

td{
    border: 1px solid;
    // width: 100px;
    max-width: 100px;
}
.pdf-container{
    width:100%;
    // height:500px
}
.higher{
    background: #D6D6D6;
}
.table{
    margin:5px
}