<div class="row">
  <div class="col-sm-12">
    <!-- <app-master-spinner></app-master-spinner>  -->
    <!-- Basic Inputs Validation start -->



    <app-card [title]="'Cambiar contraseña'" [headerContent]="''" [cardOptionBlock]="true">


      <div class="form-group row">

        <div class="col-sm-6">
          <h6>Contraseña <span style="color:red;">*</span></h6>
          <input type="password" class="form-control" #pass id="password" required>
          <!--  <div class="messages text-danger error" *ngIf="myForm.controls.password.touched &&  !myForm.controls.password.valid">Este campo es requerido</div> -->
        </div>
        <div class="col-sm-6">
          <h6>Confirmar Contraseña <span style="color:red;">*</span></h6>
          <input type="password" class="form-control" #pass2 id="rpassword" required>
          <!-- <div class="messages text-danger" *ngIf="myForm.controls.rpassword.touched &&  !myForm.controls.rpassword.valid">Este campo es requerido</div>
                        <div class="messages text-danger" *ngIf="myForm.controls.rpassword.errors?.equalTo">Las contraseñas no coinciden</div> -->
        </div>

      </div>

      <div class="form-group row ">
        <div class="col-sm-10 ">
          <button type="submit " (click)="changePassword(pass.value,pass2.value)" class="btn btn-primary m-b-0 ">Cambiar
            contraseña</button>
        </div>
      </div>


      <!--   <button type="button " class="btn btn-warning alert-confirm m-b-10 " (click)="openAjaxSwal() ">Confirm</button> -->
    </app-card>
  </div>
</div>
