<app-modal-basic #modalDetail [dialogClass]="'modal-lg'">
    <div class="app-modal-header">
        <h4 class="modal-title">Agregar Correos Electrónico</h4>
    </div>
    <div class="app-modal-body">
            <div class="form-group row">
                <div class="col-sm-12">
                    <h6>Asunto</h6>
                    <input type="text" class="form-control" [(ngModel)]="subject" >
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12 col-md-12  col-lg-11">
                            <h6>Agregar Correo Electrónico</h6>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-6 col-xs-6 col-md-6  col-lg-5" >
                            <h6> Correo  </h6>
                        </div>
                        <div class="col-sm-6 col-xs-6 col-md-6  col-lg-5">
                           <h6> Nombre  </h6> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-xs-6 col-md-6  col-lg-5">

                          <input  type="text" class="form-control"   [(ngModel)]="masterEmail" list="browsers">
                          <datalist  id="browsers">
                             <div  *ngFor="let customerEmail of emailCustomer">
                                <option    value={{customerEmail.email}}>
                             </div> 
                           
                          </datalist>

                        </div>
                        <div class="col-sm-6 col-xs-6 col-md-6  col-lg-5">
                            <input type="text" class="form-control" [(ngModel)]="masterName">
                        
                          
                        
                        </div>
                        <div class="col-sm-1" style="margin-top: 0.5%">
                            <button class="btn btn-warning btn-icon" (click)="addEmail()"><i class="icofont icofont-ui-add"></i></button>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div>
                        <h6>Lista Correos Electrónicos</h6>
                      <!--  <div class="row">
                            <div class="col-sm-6 col-xs-6 col-md-6  col-lg-5">
                                <h6> Correo  </h6>
                            </div>
                            <div class="col-sm-6 col-xs-6 col-md-6  col-lg-5">
                               <h6> Nombre  </h6> 
                            </div>
                        </div>--> 
                        <br>
                        <div  *ngFor="let email of emailsSend;let pointIdex=index">
                            <div class="row">
                                <div class="col-sm-6 col-xs-6 col-md-6  col-lg-5">
                                    <input type="text" class="form-control"  value='{{email.email}}'  disabled>
                                </div>
                                <div class="col-sm-6 col-xs-6 col-md-6  col-lg-5">
                                    <input type="text" class="form-control"  value='{{email.contact}}' disabled>
                                </div>
                                <div class="col-sm-1" style="margin-top: 0.5%">
                                    <button class="btn btn-default btn-icon" (click)="deleteEmail(pointIdex)"><i class="icofont icofont-ui-remove"></i></button>
                                </div>
                            </div>
                            <br>
                            <!-- <div *ngIf="submitted && detailform.part.errors" class="invalid-feedback">
                                        <div class="messages text-danger" *ngIf="detailform.part.errors.required">Este campo es requerido</div>
                                    </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <h6>Mensaje</h6>
                    <textarea type="text" rows="5" class="form-control" id="comment"  [(ngModel)]="comment"></textarea>
                </div>
            </div>
            <div class="col-sm-12">
                <input type="checkbox" name="Ocultar codigo de repuesto"  [(ngModel)]="checkHideCode" (change)="onChangeCode($event)"  />
                <label>Ocultar codigo de repuesto</label>
            </div>

            <div class="align-buttons">
                <button type="button" class="btn btn-default waves-effect" id="emailDetailHide" (click)="modalDetail.hide()">Cancelar</button>
                <button type="submit " class="btn btn-primary m-b-0 " (click)="sendEmailEstimate()">Enviar Correo</button>

            </div>
       
        </div>
</app-modal-basic>

<app-modal-basic #modalRejection [dialogClass]="'modal-lg'">
    <div class="app-modal-header">
      <h4 class="modal-title">Rechazos</h4>
    </div>
    <div class="app-modal-body">
        <select class="form-control" (change)="getForklifs()" [(ngModel)]="selectedBusinessId"> 
            <option value="0" selected>Seleccionar motivo </option>
        <option   *ngFor="let rejectionEstimate of rejectionsEstimate" [ngValue]="rejectionEstimate.id"> {{rejectionEstimate.description}}  </option>
        <!--  <option value="0" selected>Seleccionar perfil</option> -->
       </select>
    </div>
    <div class="app-modal-footer">
     <div class="align-buttons">
          <div class="row">
            <button type="button" class="btn btn-default waves-effect" id="refusedHide" (click)="modalRejection.hide()">Cancelar</button>
            &nbsp; &nbsp;<button type="button " class="btn btn-primary m-b-0 " (click)="rejectEstimateFinal()">Rechazar</button>
          </div>
    </div>
    </div>
  </app-modal-basic>

  <app-modal-basic #modalAssignInvoice [dialogClass]="'modal-lg'">
    <div class="app-modal-header">

        <h4 class="modal-title">Asignar Factura</h4>
    </div>
    <div class="app-modal-body">
        <div>

            <div class="row">
    
                <div class="col-sm-6">
                    <h6>Numero de Factura</h6>
                    <input type="text" [(ngModel)]="invoice" class="form-control">
                </div>
            </div>
        </div>
            
            <div class="align-buttons">
                <button type="button" class="btn btn-default waves-effect" id="assignInvoiceHide" (click)="modalAssignInvoice.hide()">Cancelar</button>
                <button type="submit " class="btn btn-primary m-b-0 "  (click)="assignInvoice()">Guardar</button>

            </div>
        </div>
</app-modal-basic>


<div class="row">

    <div class="col-sm-12">
        <app-card>
            <h5>Liquidaciones </h5>
            <br>
  
        
 <div class="form-group row">
  <div class="col-4">
      <h6>Desde:</h6>
   <div class="input-group" dir="ltr">
    <input class="form-control" placeholder="dd-mm-yyyy"   [readonly]="true" 
             name="fd" [(ngModel)]="fromDate" ngbDatepicker  #dFrom="ngbDatepicker"    (dateSelect)="onDateSelectionFrom($event)">
        <button type="button"  class="btn btn-primary waves-effect"  (click)="dFrom.toggle()"><i class="icofont icofont-ui-calendar"></i></button>
   </div>
  </div>
  <div class="col-4">
      <h6>Hasta:</h6>
      <div class="input-group" dir="ltr">
       <input class="form-control" placeholder="dd-mm-yyyy"   [readonly]="true" 
                name="ud" [(ngModel)]="untilDate" ngbDatepicker  #dUntil="ngbDatepicker"    (dateSelect)="onDateSelectionUntil($event)">
           <button type="button"  class="btn btn-primary waves-effect"  (click)="dUntil.toggle()"><i class="icofont icofont-ui-calendar"></i></button>
      </div>
     </div>
     <div class="col-md-4">
        <input type="checkbox" name="vehicle1" value="Bike"  [checked]="considerDate" (change)="changeConsiderDate($event)" >Tener en cuenta fechas?<br>
       
  </div>
  
    </div>
              <div class="form-group row">
  
                  <div class="col-sm-6">
                      <h6>Sucursales  <span style="color:red;">*</span> </h6>
      
                      <select class="form-control" (change)="getCenterCost()"  [(ngModel)]="selectedRegionalId" > 
                                  <option value="0" selected>Seleccionar sucursal </option>
                                   <option   *ngFor="let reg of regional" [ngValue]="reg"   > {{reg.description}}  </option>
                             </select>
                  </div>
      
                    <div class="col-sm-6">
                            <h6>Cliente</h6>
                      
                            <select class="form-control" (change)="getBranchOffices()" [(ngModel)]="selectedBusinessId"> 
                                        <option value="0" selected>Seleccionar cliente </option>
                                    <option   *ngFor="let customer of customers" [ngValue]="customer"> {{customer.business_name}}  </option>
                                   </select>
                                  </div>
                  </div>
      
                  <div class="row">
                      <div class="col-sm-4">
                          <h6>Sede</h6>
          
                          <select class="form-control" (change)="getForklifs()"  [(ngModel)]="selectedBranchOfficeId" > 
                                      <option value="0" selected>Seleccionar sede </option>
                                      <option   *ngFor="let branchOffice of branchOffices" [ngValue]="branchOffice"   > {{branchOffice.branch_name}}  </option>
                                </select>
                       </div>
      
                   <div class="col-sm-4">
                      <h6>Equipo</h6>
      
                      <select class="form-control" (change)="getForkliftText()"  [(ngModel)]="selectedForkliftId" > 
                                  <option value="0" selected>Seleccionar equipo </option>
                                  <option   *ngFor="let forklift of forklifts" [ngValue]="forklift"   > {{forklift.full_name}}  </option>
                             </select>
                    </div>
                  
  
                    <div class="col-sm-3">
                      <h6>Usuario</h6>
                      <select class="form-control" [(ngModel)]="selectedUserId"> 
                          <option value="0" selected>Seleccionar usuario </option>
                      <option   *ngFor="let user of rowsUser" [ngValue]="user.id"> {{user.username}}  </option>
                     </select>
                  </div>
                  
             
              </div>
              <br>
              <div class="row">
                <div class="col-sm-3">
                    <h6>Bodega</h6>
                    <select class="form-control" [(ngModel)]="selectWarehouses" > 
                        <option value="0" selected>Seleccionar centro </option>
                    <option   *ngFor="let user of warehouses" [ngValue]="user.id"> {{user.description}}  </option>
                   </select>
                </div>
  
                <div class="col-sm-3">
                    <h6>Centro de costos</h6>
                    <select class="form-control" [(ngModel)]="selectedCostCenter" > 
                        <option value="0" selected>Seleccionar centro </option>
                    <option   *ngFor="let user of costCenters" [ngValue]="user.id"> {{user.description}}  </option>
                   </select>
                </div>
           
                <div class="col-sm-3">
                  <h6>Subcentro de costos</h6>
                  <select class="form-control" [(ngModel)]="selectedSubCostCenter" > 
                      <option value="0" selected>Seleccionar subcentro </option>
                  <option   *ngFor="let user of subCostCenter" [ngValue]="user.id"> {{user.description}}  </option>
                 </select>
                </div>
           
  
                <div class="col-sm-3">
                 <h6>Descripción Repuesto</h6>
                    <input type="text" [(ngModel)]="part" class="form-control" placeholder="Filtrar repuestos">
                </div>
                
              </div>
              <br>
              <div class="form-group row">
                <div class="col-sm-3">
                  <h6>Código Repuesto</h6>
                     <input type="text" [(ngModel)]="codepart" class="form-control" placeholder="Filtrar repuestos">
                 </div>
            
                  <div class="col-sm-3">
                  <h6>Num. Liquidación</h6>
                     <input type="text"  [(ngModel)]="numberSettlement" class="form-control" placeholder="Filtrar num liquidación">
                 </div>
                 <div class="col-sm-3">
                  <h6>Num. Facturación</h6>
                     <input type="text"  [(ngModel)]="numberInvoice" class="form-control" placeholder="Filtrar num facturación">
                 </div>
                 <div class="col-sm-3">
                  <h6>Num. Cotización</h6>
                     <input type="text"  [(ngModel)]="numberEstimate" class="form-control" placeholder="Filtrar num facturación">
                 </div>
      
              </div>
              <div class="form-group row">
                  <div class="col-sm-4">
                      <input type="checkbox"  value="Programate"  name="name"  (change)="selectStatus($event)"/>Programado
                  </div>
              </div>
                  <div class="col-sm-3">
                      <div >
                      <!-- <button type="button" style="display:none;" id="showAssignInvoice" class="btn btn-primary waves-effect" (click)="modalAssignInvoice.show()">Checkear</button>
  
                      <button type="button" style="display:none;" id="hideRejection" class="btn btn-primary waves-effect" (click)=" modalRejection.hide()">Checkear</button>
                      
                      <button type="button" style="display:none;" id="showRejection" class="btn btn-primary waves-effect" (click)="modalRejection.show()">rechazar</button>
   -->
                     <br>  
                      <button class="btn btn-primary" (click)="getEstimateFilters()"><i class="icofont icofont-search" ></i>Buscar</button>
                  </div>
          </div>
            <br>
            <div class="align-buttons">
                <button class="btn btn-primary" (click)="createEstimate()">Crear Liquidación</button>
              </div>
              <br>
  <ngx-datatable #table class="data-table" [rows]="rowsClient"   [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="20">
  
        <ngx-datatable-column  [width]="40" [sortable]="false" [resizeable]="false" [canAutoResize]="false" name="PDF"   prop="serie" >
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <label class="link" (click)="downloadPdf(row,0)">PDF</label>
            </ng-template>     
        </ngx-datatable-column>
        <ngx-datatable-column  [flexGrow]="2" [sortable]="false" [resizeable]="false"  name="Nro" [sortable]="false"  prop="settlement_consecutive"></ngx-datatable-column>
        <ngx-datatable-column  [flexGrow]="2" [sortable]="false" [resizeable]="false"   name="Fecha" [sortable]="false"  prop="create_at_date"></ngx-datatable-column>
        <ngx-datatable-column   [flexGrow]="2"  name="Estado" [sortable]="false"  sortable="false"  prop="status">
    
    
    
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
    
            <!--<button md-icon-button (click)="blockAgents(value)">
                    <i class="fa fa-ban"></i>
                    </button> -->
        <div class="statusLabel" *ngIf="value==0">
            GENERADO
        </div>
    
        <div *ngIf="value==1">
            ASIGNADO
        </div>
        
        <div *ngIf="value==2">  
            ENVIADO
        </div>
        
        <div *ngIf="value==5">
            RECHAZADO
        </div>
            
        </ng-template>
    </ngx-datatable-column>
    
    
        <!-- <ngx-datatable-column [width]="90" [sortable]="false" [resizeable]="false"   name="Documento " [sortable]="false"  prop="customer_document"></ngx-datatable-column> -->
        <ngx-datatable-column [flexGrow]="2" [sortable]="false" [resizeable]="false"   name="Cliente" [sortable]="false"  prop="customer.business_name"></ngx-datatable-column>
        <ngx-datatable-column [flexGrow]="2" [sortable]="false" [resizeable]="false"   name="Observación" [sortable]="false"  prop="observation"></ngx-datatable-column>
        <ngx-datatable-column [flexGrow]="2" [sortable]="false" [resizeable]="false"   name="Teléfono " [sortable]="false"  prop="telephone"></ngx-datatable-column>
        <ngx-datatable-column [flexGrow]="2" [sortable]="false" [resizeable]="false"   name="Sucursal " [sortable]="false"  prop="regional.description"></ngx-datatable-column>
        <ngx-datatable-column [flexGrow]="2" [sortable]="false" [resizeable]="false"  name="Sbt.Horas" [sortable]="false"  prop="subtotal_hours"></ngx-datatable-column>
        <ngx-datatable-column  [flexGrow]="2" [sortable]="false" [resizeable]="false"  name="Sbt.Repuestos" [sortable]="false"  prop="subtotal_parts"></ngx-datatable-column>
        <ngx-datatable-column  [flexGrow]="2" [sortable]="false" [resizeable]="false"  name="Total" [sortable]="false"  prop="total"></ngx-datatable-column>
    <!--   <ngx-datatable-column  [width]="80" [sortable]="false" [resizeable]="false"  name="Observaciones" [sortable]="false"  prop="machine_description"></ngx-datatable-column> -->
    <ngx-datatable-column  [flexGrow]="2" name="Acciones" [sortable]="false"  sortable="false" prop="status">
    
    
    
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
    
            <!--<button md-icon-button (click)="blockAgents(value)">
                    <i class="fa fa-ban"></i>
                    </button> -->
        <div *ngIf="value==0">
        <label class="link" (click)="updateEstimate(row)">Editar</label>
        <label class="link" (click)="sendEstimateEmail(row)" >Enviar</label>
        <label class="link" (click)="rejectionEstimate(row)">Rechazar</label>
        </div>
    
        <div *ngIf="value==1">
            <label class="link" (click)="sendEstimateEmail(row)" >Enviar</label>
        </div>
        
        <div *ngIf="value==2">  
            <label class="link" (click)="showAssignInvoice(row)">Asignar</label>
            <label class="link" (click)="sendEstimateEmail(row)" >Enviar</label>
        </div>
        
        <div *ngIf="value==5">
        </div>
            
        </ng-template>
    </ngx-datatable-column>
  
  </ngx-datatable>
          <!-- <button type="button"   style="display:none;" id="showEmail"  class="btn btn-primary waves-effect" (click)="modalDetail.show()">Mostrar botones</button> -->   
        </app-card>
    </div>
  </div>