<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="login-card card-block auth-body mr-auto ml-auto">
                    <form class="md-float-material">
                        <div class="text-center">
                            <img *ngIf="isMobile===false" src="../../../assets/images/auth/Montacargas.png" class="loginlogo" alt="Gradient Able">
                            <img *ngIf="isMobile===true" src="../../../assets/images/logo.png" alt="Gradient Able">
                        </div>
                        <div class="auth-box">
                              
                                       <h5 class="modal-title"> Por seguridad, se recomienda cambiar su contraseña</h5>
                                        
                                
                                        <br>
                                        
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <h6 style="color:black;">Contraseña <span style="color:red;">*</span></h6>
                                            <input type="password" class="form-control" #pass id="password" required>
                                            <!--  <div class="messages text-danger error" *ngIf="myForm.controls.password.touched &&  !myForm.controls.password.valid">Este campo es requerido</div> -->
                                        </div>
                                        <div class="col-sm-6">
                                            <h6  style="color:black;">Confirmar Contraseña <span style="color:red;">*</span></h6>
                                            <input type="password" class="form-control" #pass2 id="rpassword" required>
                                            <!-- <div class="messages text-danger" *ngIf="myForm.controls.rpassword.touched &&  !myForm.controls.rpassword.valid">Este campo es requerido</div>
                                                <div class="messages text-danger" *ngIf="myForm.controls.rpassword.errors?.equalTo">Las contraseñas no coinciden</div> -->
                                        </div>
                        
                                    </div>
                        
                                  <br>
                                      <div class="align-buttons">
                                            <button type="submit " (click)="changePassword(pass.value,pass2.value)" class="btn btn-primary m-b-0 ">Cambiar contraseña</button>
                                        </div>
                                    
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>