<app-modal-basic #modalRegisterBrand [dialogClass]="'modal-lg'">
  <div class="app-modal-header">
    <h4 class="modal-title">Registrar marca</h4>
  </div>
  <div class="app-modal-body">
    <form [formGroup]="myForm" (ngSubmit)="sendBrand()">
      <div class="form-group row">
        <div class="col-sm-6">
          <h6>Descripción</h6>

          <input
            type="text"
            class="form-control"
            formControlName="description"
            [ngClass]="{
              'is-invalid': submitted && checkForm.description.errors
            }"
          />

          <div
            *ngIf="submitted && checkForm.description.errors"
            class="invalid-feedback"
          >
            <div
              class="messages text-danger"
              *ngIf="checkForm.description.errors.required"
            >
              Este campo es requerido
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <h6>Activo</h6>
          <ui-switch
            class="js-single"
            color="#4680ff"
            switchColor="#fff"
            size="medium"
            (change)="onChangeCreate($event)"
            checked
          ></ui-switch
          ><br />
        </div>
      </div>
      <div class="align-buttons">
        <button
          type="button"
          class="btn btn-default waves-effect"
          id="createBrandHide"
          (click)="modalRegisterBrand.hide()"
        >
          Cancelar
        </button>
        <button type="submit " class="btn btn-primary m-b-0">
          Crear marca
        </button>
      </div>
    </form>
  </div>
</app-modal-basic>

<app-modal-basic #modalUpdateBrand [dialogClass]="'modal-lg'">
  <div class="app-modal-header">
    <h4 class="modal-title">Actualizar marca</h4>
  </div>
  <div *ngIf="currentBrand" class="app-modal-body">
    <form [formGroup]="myFormUpdate" (ngSubmit)="sendUpdateBrand()">
      <div class="form-group row">
        <div class="col-sm-6">
          <h6>Descripción</h6>
          <input
            type="text"
            class="form-control"
            formControlName="descriptionUpdate"
            value="{{ currentBrand.description }}"
            [ngClass]="{
              'is-invalid':
                submitted && checkFormUpdate.descriptionUpdate.errors
            }"
          />
          <div
            *ngIf="submitted && checkFormUpdate.descriptionUpdate.errors"
            class="invalid-feedback"
          >
            <div
              class="messages text-danger"
              *ngIf="checkFormUpdate.descriptionUpdate.errors.required"
            >
              Este campo es requerido
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <h6>Activo</h6>
          <ui-switch
            class="js-single"
            color="#4680ff"
            switchColor="#fff"
            size="medium"
            (change)="onChangeUpdate($event)"
            [checked]="enabledUpdated"
          ></ui-switch
          ><br />
        </div>
      </div>
      <div class="align-buttons">
        <button
          type="button"
          class="btn btn-default waves-effect"
          id="updateBrandHide"
          (click)="modalUpdateBrand.hide()"
        >
          Cancelar
        </button>
        <button type="submit " class="btn btn-primary m-b-0">
          Actualizar marca
        </button>
      </div>
    </form>
  </div>
</app-modal-basic>

<div class="row">
  <div class="col-sm-12">
    <app-card style="position: sticky; top: 300px">
      <h5>Registrar Cliente</h5>
      <br />
      <div class="row">
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            placeholder="Filtrar"
            (keyup)="updateFilter($event)"
          />
          <!--  <input type="text" style="padding:8px;margin:15px auto;width:30%;" placeholder="Type to filter the name column..." (keyup)="updateFilter($event)" /> -->
        </div>

        <div class="col-sm-3">
          <div class="checkbox-color checkbox-primary">
            <input
              id="checkbox18"
              type="checkbox"
              (change)="onChangeActive($event)"
            />
            <label for="checkbox18"> Activo </label>
          </div>
          <div class="checkbox-color checkbox-danger">
            <input
              id="checkbox16"
              type="checkbox"
              (change)="onChangeInactive($event)"
            />
            <label for="checkbox16"> Inactivo </label>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="align-buttons">
            <button
              type="button"
              style="display: none"
              id="uploadBrand"
              class="btn btn-primary waves-effect"
              (click)="modalUpdateBrand.show()"
            >
              Crear cliente
            </button>
            <button
              type="button"
              id="registerBrand"
              class="btn btn-primary waves-effect"
              (click)="sendCustomer()"
            >
              Crear cliente
            </button>
          </div>
          <div class="align-buttons">
            <button class="btn btn-primary" (click)="excelCutomer()">
              <i class="icofont icofont-search"></i>Generar Informe
            </button>
          </div>
        </div>
      </div>
      <br />

      <ngx-datatable
        #table
        class="data-table"
        [rows]="rowsClient"
        [columns]="[
          { name: 'Razon social', prop: 'business_name' },
          { name: 'Documento', prop: 'document_id' },
          { name: 'Telefono', prop: 'telephone' },
          { name: 'Dirección', prop: 'address' },
          { name: 'Estado', prop: 'status' },
          { prop: 'id' }
        ]"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [limit]="25"
      >
        <ngx-datatable-column
          [resizeable]="false"
          name="Razon social"
          [sortable]="false"
          [draggable]="false"
          prop="business_name"
        ></ngx-datatable-column>
        <ngx-datatable-column
          [resizeable]="false"
          name="Documento"
          [sortable]="false"
          [draggable]="false"
          prop="document_id"
        ></ngx-datatable-column>
        <ngx-datatable-column
          [resizeable]="false"
          name="Telefono"
          [sortable]="false"
          [draggable]="false"
          prop="telephone"
        ></ngx-datatable-column>
        <ngx-datatable-column
          [resizeable]="false"
          name="Dirección"
          [sortable]="false"
          [draggable]="false"
          prop="address"
        ></ngx-datatable-column>
        <ngx-datatable-column
          [resizeable]="false"
          name="Estado"
          [sortable]="false"
          [draggable]="false"
          prop="status"
        >
          <ng-template
            let-row="row"
            let-value="value"
            ngx-datatable-cell-template
          >
            <label
              (click)="blockAgents(value)"
              class="label label-md label-danger"
              *ngIf="idel == 1"
              >Inactivo</label
            >
            <label class="label label-md label-primary" *ngIf="idel == 0"
              >Activo</label
            >
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          [resizeable]="false"
          name="Acciones"
          [sortable]="false"
          [draggable]="false"
          sortable="false"
          prop="id"
        >
          <ng-template
            let-row="row"
            let-value="value"
            ngx-datatable-cell-template
          >
            <!--<button md-icon-button (click)="blockAgents(value)">
                                <i class="fa fa-ban"></i>
                              </button> -->
            <!-- Button trigger modal -->

            <button (click)="updateBrand(row)" class="btn btn-primary btn-icon">
              <i class="icofont icofont-pencil-alt-5"></i>
            </button>
            <button
              (click)="deleteCustomer(row)"
              class="btn btn-danger btn-icon"
            >
              <i class="icofont icofont-ui-delete"></i>
            </button>

            <button (click)="Detail(row)" class="btn btn-primary btn-icon">
              <img
                src="assets/images/file.png"
                width="20"
                height="20"
                alt="User-Profile-Image"
              />
            </button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </app-card>
  </div>
</div>
