.align-buttons {
    text-align: right;
}

.comment {
    float: left;
    width: 100%;
    height: auto;
}
.textinput {
    float: left;
    width: 100%;
    min-height: 75px;
    outline: none;
    resize: none;
    border: 1px solid grey;
}