<div class="row">
  <div class="col-sm-12">
    <app-card>
      <h5 class="modal-title">Seguimiento al personal</h5>
      <br>
      <br>
      <div class="form-group row">
        <div class="col-4">
            <h6>Desde:</h6>
         <div class="input-group" dir="ltr">
          <input class="form-control" placeholder="dd-mm-yyyy"   [readonly]="true" 
                   name="fd" [(ngModel)]="fromDate" ngbDatepicker  #dFrom="ngbDatepicker"    (dateSelect)="onDateSelectionFrom($event)">
              <button type="button"  class="btn btn-primary waves-effect"  (click)="dFrom.toggle()"><i class="icofont icofont-ui-calendar"></i></button>
         </div>
        </div>
        <div class="col-4">
            <h6>Hasta:</h6>
            <div class="input-group" dir="ltr">
             <input class="form-control" placeholder="dd-mm-yyyy"   [readonly]="true" 
                      name="ud" [(ngModel)]="untilDate" ngbDatepicker  #dUntil="ngbDatepicker"    (dateSelect)="onDateSelectionUntil($event)">
                 <button type="button"  class="btn btn-primary waves-effect"  (click)="dUntil.toggle()"><i class="icofont icofont-ui-calendar"></i></button>
            </div>
        </div>

        
      </div>
      <div class="form-group row">
        <div class="col-sm-6">
          <h6>Técnico  <span style="color:red;">*</span></h6>

              <select class="form-control"   [(ngModel)]="selectedTechnician" > 
                          <option value="0" selected>Seleccionar Técnico </option>
                          <option   *ngFor="let tec of technician" [ngValue]="tec"   > {{tec.name}}  </option>
                      <!--  <option value="0" selected>Seleccionar perfil</option> -->
              </select>
        </div>
        <div class="align-buttons">
          <div >
            <br>
            <button class="btn btn-primary" (click)="getFilters()" ><i class="icofont icofont-search" ></i>Buscar</button>
          </div>
        </div>
      </div>
      
      <div class="align-buttons">
      <br>
      <br>
      <div *ngIf="rowsClient!=0">
        
        <button class="btn btn-primary" (click)="saveExcel(rowsClient)" > <img src="assets/images/excel.png"  width="30" height="30">&nbsp; Exportar</button>
        </div>
      </div>

      <ngx-datatable #table class="data-table" [rows]="rowsClient"   [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="20">

        
        <ngx-datatable-column  [flexGrow]="2" [sortable]="false" [resizeable]="false"  name="Descripción de Actividad" [sortable]="false" prop="personal_activitie.description"></ngx-datatable-column>
        <ngx-datatable-column  [flexGrow]="2" [sortable]="false" [resizeable]="false"  name="Cliente" [sortable]="false"  prop="customer_text"></ngx-datatable-column>
        <ngx-datatable-column  [flexGrow]="2" [sortable]="false" [resizeable]="false"  name="Control de Servicio" [sortable]="false"  prop="service_control"></ngx-datatable-column>
        <ngx-datatable-column  [flexGrow]="2" [sortable]="false" [resizeable]="false"  name="Nombre Técnico" [sortable]="false"  prop="users.name"></ngx-datatable-column>
        <ngx-datatable-column  [flexGrow]="2" [sortable]="false" [resizeable]="false"  name="Fecha de Inicio" [sortable]="false"  prop="start"></ngx-datatable-column>
        <ngx-datatable-column  [flexGrow]="2" [sortable]="false" [resizeable]="false"  name="Fecha de Finalización" [sortable]="false"  prop="finish"></ngx-datatable-column>
        <ngx-datatable-column  [flexGrow]="2" [sortable]="false" [resizeable]="false"  name="Duración de la Actividad" [sortable]="false"  prop="duration_activity"></ngx-datatable-column>
    </ngx-datatable>
    </app-card>
  </div>
</div>