.brand {
    align-content: rigth;
}

.align-buttons {
    text-align: right;
}

.search_button{
  padding-top: 10px;
}

.align-consecutive {
    text-align: center;
}

.color-consecutive{
    color: #f12121;
}

:host {
    display: block;
    width: 100%;
    height: 100%;
    .ngx-datatable {
      height: 100vh;
    }
  }


.partLabel{
    background-color: #eceeef;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 1px;
    font-weight: bolder;
  }

  .partValue{
    background-color: #eceeef;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 1px;
  }

  .fullscreen {
    position: absolute !important;
    height: auto !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

:host ::ng-deep .ngx-datatable .datatable-body .datatable-scroll {
    display: inherit;
    width: 100%;
    font-size:smaller;
  }

  :host ::ng-deep .ngx-datatable .datatable-header .datatable-header-cell {
    display: inherit;
    width: 100%;
    font-size:smaller;
  }

  .labelItem{
      text-align: right;
  }
